/*************\ 
 Common styles
\*************/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.default-button {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
}

/*************\ 
 header styles
\*************/

header {
    background-color: #2D25A0;
    padding: 50px 15px;
}

.banner-text {
    margin-bottom: 50px;
}

.banner-header {
    margin-bottom: 25px;
}

.banner-header h1 {
    color: white;
    margin: 0;
    font-size: 36px;
}

.banner-image img {
    width: 100%;
}

/***********\ 
 main styles
\***********/

/* players-gallery styles */

.players-gallery {
    padding: 50px 15px 25px 15px;
}

.player {
    padding: 15px;
    box-shadow: 10px 10px 40px lightgray;
    margin-bottom: 25px;
}

.player-image img {
    width: 100%;
}

.player-name {
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
}

.player-info {
    color: #6C6C6C;
}

/* highlights styles */

.highlights {
    padding: 25px 15px 25px 15px;
}

.highlights-text {
    margin-bottom: 50px;
}

.highlights-header {
    margin-bottom: 25px;
}

.highlights-paragraph {
    margin-bottom: 40px;
    color: #6C6C6C;
}

.highlights-header h2 {
    color: #0A0826;
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

.highlights-image img {
    width: 100%;
}